// variables
$breakpoint-small: 768px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1200px;


@mixin flex($justify, $align)
  display: flex 
  justify-content: $justify
  align-items: $align

@mixin flex-justify($justify) 
  display: flex
  justify-content: $justify

@mixin flex-align($align) 
  display: flex
  align-items: $align

@mixin sm 
   @media (min-width: #{$breakpoint-small}) 
       @content;

@mixin md 
   @media (min-width: #{$breakpoint-medium}) 
       @content;

@mixin lg 
   @media (min-width: #{$breakpoint-large}) 
       @content;
   
